<h3 class="header-titule hidden-xs">{{prolibertas}}</h3>
<form class="col-md-12">

  <div class="form-group col-md-7">
    <label>Tipo</label>
    <select type="text" class="form-control" data-placement="top">   
      <option value="">Seleccione Tipo</option>
      <option value="">manta</option>
      <option value="">sábana</option>
      <option value="">chaqueta</option>
      <option value="">zapatos</option>
      <option value="">otros 1</option>
      <option value="">otros 2</option>
      <option value="">otros 3</option>
    </select>
  </div>

  <div class="form-group col-md-7">
    <label>Cantidad</label>
    <select type="text" class="form-control" data-placement="top">   
      <option value="">Seleccione Cantidad</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>            
    </select>
  </div>

  <div class="form-group col-md-7">
    <label>Pedidas</label>
    <div class="input-group datepicker">
      <span class="input-group-addon listpeople__azul">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="form-group col-md-7">
    <label>Entregadas</label>
    <div class="input-group datepicker">
      <span class="input-group-addon listpeople__azul">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="form-group col-md-7">
    <label>Observaciones</label>
    <textarea class="form-control"></textarea>
  </div>

  <div class="submit-group col-md-7">
    <button class="btn btn-primary" type="submit">Guardar</button>
  </div>

</form>