<div class="col-md-7">

  <ul class="list-group">
    <li class="list-group-item person__list__el">
       <strong class="person__list__text__left">Creador:</strong> <span></span> 
    </li>
    <li class="list-group-item person__list__el">
      <strong class="person__list__text__left">Servicio:</strong> <span></span>
    </li>

    <li class="list-group-item person__list__el">
      <strong class="person__list__text__left">Fecha:</strong> <span></span>
    </li>
  </ul>

</div>

<div class="persona__botones col-md-7">
  <a type="button" class="btn btn-danger persona__botones__remove">
    Eliminar
  </a>
  <a type="button" class="btn btn-primary persona__botones__edit">
    Editar
  </a>
</div>